<!DOCTYPE html>
<html>
  <head>
    <title><%= car %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= car %></h1>
    <p>Welcome to <%= car %></p>
  </body>
</html>
